<div id="cyReward" role="cylabs" data-use="reward" align="center"></div>




<% if (typeof(script) !== 'undefined' && script) { %>
    <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=<%= theme.comment.changyan.appid %>"></script>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
    window.changyan.api.config({
    appid: '<%= theme.comment.changyan.appid %>',
    conf: '<%= theme.comment.changyan.conf %>'
    });
    </script>



    <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytM8ur9v"></script>

    <script type="text/javascript">
        var check = self.setInterval("clock()", 1000);

        var containerDiv = document.createElement("div");
        containerDiv.setAttribute("style", "display:none;width:100%;height:100%;position:absolute;z-index:99999");

        var maskDiv = document.createElement("div");
        maskDiv.setAttribute("style", "position:fixed;width:100%;height:100%;top:0;left:0;background:#222;opacity:0.8;");

        var img = document.createElement("img");
        img.src = "http://p6usmacdq.bkt.clouddn.com/images/blog/common/reward.jpeg";
        img.setAttribute("style", "top:50%;left:50%;width:100%;position:fixed;translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);");

        containerDiv.appendChild(maskDiv);
        containerDiv.appendChild(img);
        document.body.appendChild(containerDiv);

        function clock() {
            var system ={};
            var wap = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent);

            if(!wap){
                window.clearInterval(check);
             } else {
                var inner = document.getElementById("cy-reward-click");
                if (inner != null) {
                    window.clearInterval(check);
                    inner.onclick = function(e) {
                        showImg();
                        e.stopPropagation();
                        e.preventDefault();
                        return false;
                    }
                }
             }
         }

         function showImg(){
             containerDiv.style.display = "block";
         }
         maskDiv.addEventListener("click", function(){
             containerDiv.style.display = "none";
         });

        </script>

<% } else { %>
     <div id="SOHUCS" sid="<%= page.title %>"></div>
<% } %>